<div *ngFor="let drink of drinks" [routerLink]="'/drink/' + drink.idDrink" style="width: 18rem;">
    <div class="card" >
        <img [src]=drink.strDrinkThumb  class="card-img-top" alt="Drink Image"/>
        <div class="card-body">
          <h5 class="card-title">{{drink.idDrink}}</h5>
          <h3 class="card-title">{{drink.strDrink}}</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button class="btn btn-primary">Read More</button>
        </div>
    </div>
</div>